body {
  margin: 0;
  padding: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.image {
  max-width: 50%;
  max-height: 50%;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}
.image.rotate {
  transform: rotate(90deg); /* 旋转90度 */
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
